@model OutcomesFirst.ViewModels.GenderViewModel

@{
    ViewData["Title"] = "Create";
}

<h3>System Admin</h3>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <span style="font-size: 1em; color:coral;">
                    <i class="fas fa-tools small"></i>
                </span>
                Gender Create
            </h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                         <label asp-for="GenderName" class="control-label"></label>                      
                    </div>
                    <div class="col-md-7">
                        <input asp-for="GenderName" class="form-control" />
                        <span asp-validation-for="GenderName" class="text-danger"></span>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
<br/>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
