@model IEnumerable<OutcomesFirst.Models.Gender>

@{
    ViewData["Title"] = "Genders";
}

<h5>Genders</h5>

<p>
    <a asp-action="Create">Create New Gender</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenderName)
            </td>
           
        </tr>
}
    </tbody>
</table>
