@model IEnumerable<OutcomesFirst.ViewModels.GenderViewModel>

@{
    ViewData["Title"] = "Genders";
}

<h3>Genders</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenderName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.GenderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
