@model OutcomesFirst.Models.LocalAuthority

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LocalAuthority</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocalAuthorityId" />
            <div class="form-group">
                <label asp-for="LocalAuthorityName" class="control-label"></label>
                <input asp-for="LocalAuthorityName" class="form-control" />
                <span asp-validation-for="LocalAuthorityName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="LocalAuthorityRegionId" class="control-label"></label>
                <div>
                    <select asp-for="LocalAuthorityRegionId" class="form-control" asp-items="ViewBag.LocalAuthorityRegionId"></select>
                    <span asp-validation-for="LocalAuthorityRegionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

