@model OutcomesFirst.ViewModels.LocalAuthorityViewModel

@{
    ViewData["Title"] = "Edit";
  
    IEnumerable<SelectListItem> regions = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true } }
            .Concat(Model.regions
            .OrderBy(x => x.RegionName)
            .Select(t => new SelectListItem
            {
                Value = t.RegionId.ToString(),
                Text = t.RegionName
            })); ;
     
}

<h3>System Admin</h3>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(m => m.LocalAuthorityId)

    <div class="card">
        <div class="card-header" style="background-color:#b9e488">
            <h5 class="card-title">
                <span style="font-size: 1em; color:#1a75e8;">
                    <i class="fas fa-tools small"></i>
                </span>
                Local Authority Edit
            </h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="LocalAuthorityName" class="control-label"></label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="LocalAuthorityName" class="form-control" />
                        <span asp-validation-for="LocalAuthorityName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label asp-for="LocalAuthorityRegionId" class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <select asp-for="LocalAuthorityRegionId" class="form-control" asp-items="regions"></select>
                        <span asp-validation-for="LocalAuthorityRegionId" class="text-danger small"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>

</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

