@model OutcomesFirst.Models.Placement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Placement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlacementId" />
            <div class="form-group">
                <label asp-for="PlacementRefId" class="control-label"></label>
                <input asp-for="PlacementRefId" class="form-control" />
                <span asp-validation-for="PlacementRefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementFirstName" class="control-label"></label>
                <input asp-for="PlacementFirstName" class="form-control" />
                <span asp-validation-for="PlacementFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementLastName" class="control-label"></label>
                <input asp-for="PlacementLastName" class="form-control" />
                <span asp-validation-for="PlacementLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementGenderId" class="control-label"></label>
                <select asp-for="PlacementGenderId" class="form-control" asp-items="ViewBag.PlacementGenderId"></select>
                <span asp-validation-for="PlacementGenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementType" class="control-label"></label>
                <input asp-for="PlacementType" class="form-control" />
                <span asp-validation-for="PlacementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementServiceTransition" class="control-label"></label>
                <input asp-for="PlacementServiceTransition" class="form-control" />
                <span asp-validation-for="PlacementServiceTransition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementServiceId" class="control-label"></label>
                <select asp-for="PlacementServiceId" class="form-control" asp-items="ViewBag.PlacementServiceId"></select>
                <span asp-validation-for="PlacementServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementDateStartedWithGroup" class="control-label"></label>
                <input asp-for="PlacementDateStartedWithGroup" class="form-control" />
                <span asp-validation-for="PlacementDateStartedWithGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementPlacementStartDate" class="control-label"></label>
                <input asp-for="PlacementPlacementStartDate" class="form-control" />
                <span asp-validation-for="PlacementPlacementStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementDOB" class="control-label"></label>
                <input asp-for="PlacementDOB" class="form-control" />
                <span asp-validation-for="PlacementDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementAgeAtLeaving" class="control-label"></label>
                <input asp-for="PlacementAgeAtLeaving" class="form-control" />
                <span asp-validation-for="PlacementAgeAtLeaving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementLocalAuthorityId" class="control-label"></label>
                <select asp-for="PlacementLocalAuthorityId" class="form-control" asp-items="ViewBag.PlacementLocalAuthorityId"></select>
                <span asp-validation-for="PlacementLocalAuthorityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementFramework" class="control-label"></label>
                <input asp-for="PlacementFramework" class="form-control" />
                <span asp-validation-for="PlacementFramework" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementWeeklyFee" class="control-label"></label>
                <input asp-for="PlacementWeeklyFee" class="form-control" />
                <span asp-validation-for="PlacementWeeklyFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementLengthOfStayWithGroup" class="control-label"></label>
                <input asp-for="PlacementLengthOfStayWithGroup" class="form-control" />
                <span asp-validation-for="PlacementLengthOfStayWithGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementLengthOfStayWithPlacement" class="control-label"></label>
                <input asp-for="PlacementLengthOfStayWithPlacement" class="form-control" />
                <span asp-validation-for="PlacementLengthOfStayWithPlacement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementNotes" class="control-label"></label>
                <input asp-for="PlacementNotes" class="form-control" />
                <span asp-validation-for="PlacementNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementLeaveDate" class="control-label"></label>
                <input asp-for="PlacementLeaveDate" class="form-control" />
                <span asp-validation-for="PlacementLeaveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementLeaverType" class="control-label"></label>
                <input asp-for="PlacementLeaverType" class="form-control" />
                <span asp-validation-for="PlacementLeaverType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlacementLeavingReasonId" class="control-label"></label>
                <input asp-for="PlacementLeavingReasonId" class="form-control" />
                <span asp-validation-for="PlacementLeavingReasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

