@model OutcomesFirst.Models.Occupancy

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Occupancy</h4>
<hr />


<body>

    <div class="bigcontainer">
        <form asp-action="Edit">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 card">
                        <div class="card-block">
                            <h4 class="card-title">
                                <span style="font-size: 2em; color:#1a75e8">
                                    <i class="fas fa-user"></i>
                                </span>
                                Personal Details
                            </h4>
                            <div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label asp-for="OccupancyFirstName" class="control-label font-size:2em"></label>
                                        </div>

                                        <div class="col-md-1">
                                            <input asp-for="OccupancyFirstName" class="form-control font-size:2em" />
                                            <span asp-validation-for="OccupancyFirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-1">
                                            <label asp-for="OccupancyLastName" class="control-label font-size:2em"></label>
                                        </div>
                                        <div class="col-md-1">
                                            <input asp-for="OccupancyLastName" class="form-control font-size:2em" />
                                            <span asp-validation-for="OccupancyLastName" class="text-danger"></span>
                                        </div>
                                        </div>

                                        <div class="col-md-1">
                                            <label asp-for="OccupancyGenderId" class="control-label font-size:2em"></label>
                                        </div>
                                        <div class="col-md-1">
                                            <select asp-for="OccupancyGenderId" class="form-control font-size:2em" asp-items="ViewBag.OccupancyGenderId"></select>
                                            <span asp-validation-for="OccupancyGenderId" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-1">
                                            <label asp-for="OccupancyDOB" class="control-label"></label>
                                        </div>
                                        <div class="col-md-1">
                                            <input asp-for="OccupancyDOB" class="form-control" />
                                            <span asp-validation-for="OccupancyDOB" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12"></div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 card">
                        <div class="card-block">
                            <h4 class="card-title">
                                <span style="font-size: 2em; color:#1a75e8">
                                    <i class="fas fa-home"></i>
                                </span>
                                Occupancy Details
                            </h4>
                            <div class="row">
                                <div class="col-md-1">
                                    <label asp-for="OccupancyServiceId" class="control-label"></label>
                                </div>
                                <div class="col-md-2">
                                    <select asp-for="OccupancyServiceId" class="form-control" asp-items="ViewBag.OccupancyServiceId"></select>
                                    <span asp-validation-for="OccupancyServiceId" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <label asp-for="OccupancyType" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyType" class="form-control" />
                                    <span asp-validation-for="OccupancyType" class="text-danger"></span>
                                </div>
                                <div class="col-md-1">
                                    <label asp-for="OccupancyServiceTransition" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyServiceTransition" class="form-control" />
                                    <span asp-validation-for="OccupancyServiceTransition" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="OccupancyLocalAuthorityId" class="control-label"></label>
                                </div>
                                <div class="col-md-3">
                                    <select asp-for="OccupancyLocalAuthorityId" class="form-control" asp-items="ViewBag.OccupancyLocalAuthorityId"></select>
                                    <span asp-validation-for="OccupancyLocalAuthorityId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label asp-for="OccupancyDateStartedWithGroup" class="control-label"></label>
                            </div>

                            <div class="col-md-1">
                                <input asp-for="OccupancyDateStartedWithGroup" class="form-control" />
                                <span asp-validation-for="OccupancyDateStartedWithGroup" class="text-danger"></span>
                            </div>
                            <div class="col-md-1">
                                <label asp-for="OccupancyPlacementStartDate" class="control-label"></label>
                            </div>
                            <div class="col-md-1">
                                <input asp-for="OccupancyPlacementStartDate" class="form-control" />
                                <span asp-validation-for="OccupancyPlacementStartDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 card">
                        <div class="card-block">
                            <h4 class="card-title">
                                <span style="font-size: 2em; color:#1a75e8">
                                    <i class="fas fa-home"></i>
                                </span>
                                Leaving Details
                            </h4>
                            <div class="row">
                                <div class="col-md-1">
                                    <label asp-for="OccupancyAgeAtLeaving" class="control-label"></label>
                                </div>

                                <div class="col-md-1">
                                    <input asp-for="OccupancyAgeAtLeaving" class="form-control" />
                                    <span asp-validation-for="OccupancyAgeAtLeaving" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <label asp-for="OccupancyLeaveDate" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyLeaveDate" class="form-control" />
                                    <span asp-validation-for="OccupancyLeaveDate" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <label asp-for="OccupancyLeaverType" class="control-label"></label>
                                </div>

                                <div class="col-md-1">
                                    <input asp-for="OccupancyLeaverType" class="form-control" />
                                    <span asp-validation-for="OccupancyLeaverType" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <label asp-for="OccupancyReasonForLeavingID" class="control-label"></label>
                                </div>

                                <div class="col-md-1">
                                    <input asp-for="OccupancyReasonForLeavingID" class="form-control" />
                                    <span asp-validation-for="OccupancyReasonForLeavingID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 card">
                        <div class="card-block">
                            <h4 class="card-title">
                                <span style="font-size: 2em; color:#1a75e8">
                                    <i class="fas fa-home"></i>
                                </span>
                                Framework Details
                            </h4>
                            <div class="row">
                                <div class="col-md-1">
                                    <label asp-for="OccupancyFramework" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyFramework" class="form-control" />
                                    <span asp-validation-for="OccupancyFramework" class="text-danger"></span>
                                </div>
                                <div class="col-md-1">
                                    <label asp-for="OccupancyWeeklyFee" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyWeeklyFee" class="form-control" />
                                    <span asp-validation-for="OccupancyWeeklyFee" class="text-danger"></span>
                                </div>
                                <div class="col-md-1">
                                    <label asp-for="OccupancyLengthOfStayWithGroup" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyLengthOfStayWithGroup" class="form-control" />
                                    <span asp-validation-for="OccupancyLengthOfStayWithGroup" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <label asp-for="OccupancyLengthOfStayWithPlacement" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyLengthOfStayWithPlacement" class="form-control" />
                                    <span asp-validation-for="OccupancyLengthOfStayWithPlacement" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <label asp-for="OccupancyNotes" class="control-label"></label>
                                </div>
                                <div class="col-md-1">
                                    <input asp-for="OccupancyNotes" class="form-control" />
                                    <span asp-validation-for="OccupancyNotes" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>


<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />

</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

