@model OutcomesFirst.ViewModels.ReferralViewModel

@{
    ViewData["Title"] = "Create";
    IEnumerable<SelectListItem> localAuthorities = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true } }
             .Concat(Model.localAuthorities
             .OrderBy(x => x.LocalAuthorityName)
             .Select(t => new SelectListItem
             {
                 Value = t.LocalAuthorityId.ToString(),
                 Text = t.LocalAuthorityName
             })); ;

    IEnumerable<SelectListItem> genders = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true } }
             .Concat(Model.genders
             .OrderBy(x => x.GenderName)
             .Select(t => new SelectListItem
             {
                 Value = t.GenderId.ToString(),
                 Text = t.GenderName
             })); ;

    IEnumerable<SelectListItem> referraltypes
        = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true },
                            new SelectListItem{ Text="Educational & Residential", Value = "1" },
                            new SelectListItem{ Text="Educational Only", Value = "2" },
                            new SelectListItem{ Text="Residential Only", Value = "3" }       };


    IEnumerable<SelectListItem> archivereasons = new List<SelectListItem> { new SelectListItem { Value = "0", Text = "Select...", Selected = true } }
             .Concat(Model.archiveReasons
             .OrderBy(x => x.ArchiveReasonName)
             .Select(t => new SelectListItem
             {
                 Value = t.ArchiveReasonId.ToString(),
                 Text = t.ArchiveReasonName
             })); ;


}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link href="~/css/site.min.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
  
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>
<p>
    <h3>Create New Referral</h3>
</p>

<body>
    <div class="container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#76b82a">
                            <h4 class="card-title android-card-title">
                                <span style="font-size: 1em;">
                                    <i class="fas fa-user small android-img"></i>
                                </span>
                                Personal Details
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label asp-for="ReferralName" class="control-label"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <input asp-for="ReferralName" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="ReferralName" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label asp-for="ReferralGenderId" class="control-label"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <select asp-for="ReferralGenderId" class="form-control" asp-items="genders"></select>
                                        <span asp-validation-for="ReferralGenderId" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label asp-for="ReferralAge" class="control-label"></label>
                                    </div>
                                    <div class="col-md-3">
                                        <input asp-for="ReferralAge" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-4">
                                    <span asp-validation-for="ReferralAge" class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#76b82a">
                            <h4 class="card-title">
                                <span style="font-size: 1em; color:#1a75e8;">
                                    <i class="fas fa-user small"></i>
                                </span>
                                Placement Details
                            </h4>
                        </div>
                        <div class="card-body">
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="ReferralLocalAuthorityId" class="control-label"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select asp-for="ReferralLocalAuthorityId" class="form-control" asp-items="localAuthorities"></select>
                                        <span asp-validation-for="ReferralLocalAuthorityId" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="ReferralType" class="control-label"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select asp-for="ReferralType" class="form-control" asp-items="referraltypes"></select>
                                        <span asp-validation-for="ReferralType" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="ReferralReceivedDate" class="control-label"></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="ReferralReceivedDate" class="form-control form-horizontal" asp-item="ViewBag.Date" />
                                        <span asp-validation-for="ReferralReceivedDate" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               
            <p></p>              
            <div class="card">
                <div class="card-header" style="background-color:#76b82a">
                    <h4 class="card-title">
                        <span style="font-size: 1em; color:#1a75e8;">
                            <i class="fas fa-question"></i>
                        </span>
                        Decision
                    </h4>
                </div>
                <div class="card-body">
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="radio" name="ReferralSuitableColor" id="ReferralSuitableColor" value="red" required> Not Suitable
                            </div>
                            <div class="col-md-3">
                                <input type="radio" name="ReferralSuitableColor" id="ReferralSuitableColor" value="green">  Suitable
                            </div>
                        </div>
                        <div class="col-md-3">
                            <span asp-validation-for="ReferralSuitableColor" class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="red box">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Enter Not Suitable Reason</strong>
                            </div>
                            <div class="col-md-3">
                                <select asp-for="ReferralArchiveReasonId" class="form-control" asp-items="archivereasons"></select>
                                <span asp-validation-for="ReferralArchiveReasonId" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="row">
                            Comments
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <textarea asp-for="ReferralNotSuitableComments" class="form-control rows=10"></textarea>
                                <span asp-validation-for="ReferralNotSuitableComments" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                    <div class="green box">
                        Enter <strong>Suitable</strong> comments
                        <div class="col-md-2">
                            <label asp-for="ReferralSuitableComments" class="control-label"></label>
                        </div>
                        <div class="col-md-9">
                            <textarea asp-for="ReferralSuitableComments" class="form-control rows=10"></textarea>
                            <span asp-validation-for="ReferralSuitableComments" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                
            </p>
            <p></p>
            <div class="form=group">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>


<div>
    <a asp-action="Index" class="small">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                var inputValue = $(this).attr("value");
                var targetBox = $("." + inputValue);
                $(".box").not(targetBox).hide();
                $(targetBox).show();
            });
        });
    </script>
