@model OutcomesFirst.ViewModels.SubmissionIndexData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Services</h4>
<hr />

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="inline">
            ID                         Gender                                 Age            Local Authority
            Date Received
        </div>
        <div class="inline">
            <input asp-for="MVReferralId" class="form-control-static" asp-items="ViewBag.MVReferralId" readonly></>
            <input asp-for="MVReferralName" class="form-control-static" asp-items="ViewBag.MVReferralName" readonly></>
        </div>

        <div class="form-group">
            @foreach (var region in Model.regions)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="background-color:#b9e488">
                            <h4 class="card-title">
                                <span style="font-size: 1em;">
                                    <i class="fas fa-globe small"></i>
                                </span>
                                @Html.DisplayFor(modelItem => region.RegionName)
                            </h4>
                        </div>
                     
                        <div class="card-body">
                            @foreach (var item in Model.Services)
                            {
                                @if (item.ServiceRegionId == region.RegionId)
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            @item.ServiceName
                                            <div class="col-md-2">
                                                <input asp-for="MVIsChecked" name="Submission.IsChecked" type="checkbox" value="@item.ServiceId" /><br />

                                                <span asp-validation-for="MVIsChecked" class="text-danger small"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
