@model OutcomesFirst.Models.Submission

@{
    ViewData["Title"] = "Edit";
}

<h3>Submission</h3>

<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="SubmissionId" />

    <input type="hidden" asp-for="SubmissionReferralId" />

    <input type="hidden" asp-for="SubmissionServiceId" />

    <div class="col-md-8">

        <div class="card">

            <div class="card-header" style="background-color:#b9e488">

                <div class="card-title">

                    <span style="font-size: 1em; color:#1a75e8;">

                        <i class="fas fa-tools small"></i>

                    </span>

                    Edit

                </div>

            </div>

            <div class="card-body">

                <div class="form-group">

                    <div class="row">

                        <div class="col-md-2">

                            <div class="form-group">

                                <label asp-for="SubmissionReferral.ReferralName" class="control-label"></label>

                            </div>

                        </div>

                        <div class="col-md-2">

                            <div class="form-group">

                                @Model.SubmissionReferral.ReferralName

                                @*<input asp-for="SubmissionReferral.ReferralName" class="form-control" />

                    <span asp-validation-for="SubmissionReferral.ReferralName" class="text-danger"></span>*@

                            </div>

                        </div>

                        <div class="col-md-8">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="SubmissionServiceId" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                @Model.SubmissionService.ServiceName

                                @*<select asp-for="SubmissionServiceId" class="form-control" asp-items="ViewBag.SubmissionServiceId" disabled="disabled"></select>

                    <span asp-validation-for="SubmissionServiceId" class="text-danger"></span>*@

                            </div>

                        </div>

                        <div class="col-md-2"></div>

                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="SubmissionStatusId" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <select asp-for="SubmissionStatusId" class="form-control" id="PlacementStatus" asp-items="ViewBag.SubmissionStatusId"></select>
                                <span asp-validation-for="SubmissionStatusId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="SubmissionPlacementStartDate" id="PlacementStartTitle" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input asp-for="SubmissionPlacementStartDate" id="PlacementStartControl" class="form-control form-horizontal" />
                                <span asp-validation-for="SubmissionPlacementStartDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6"></div>

                    </div>


                    <div class="row">

                        <div class="col-md-2">

                            <div class="form-group">

                                <label asp-for="SubmissionArchiveReasonId" id="ArchiveReasonTitle" class="control-label"></label>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="form-group">

                                <select asp-for="SubmissionArchiveReasonId" class="form-control" id="ArchiveReasonControl" asp-items="ViewBag.SubmissionArchiveReasonId"></select>

                                <span asp-validation-for="SubmissionArchiveReasonId" class="text-danger"></span>

                            </div>

                        </div>

                        <div class="col-md-6"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>



    <br />

    <div class="form-group">

        <input type="submit" value="Save"  class="btn btn-success" />

    </div>

</form>



<br />

<div>

    <a asp-action="Index">Back to List</a>

</div>



<script>

    window.onload = function () {
    
        if (('#PlacementStatus').value == '1')
        {
            $("#PlacementStartTitle").show();
            $("#PlacementStartControl").show();
            $("#ArchiveReasonTitle").hide();
            $("#ArchiveReasonControl").hide();
        }

        if (('#PlacementStatus').value == '2')
        {
            $("#PlacementStartTitle").hide();
            $("#PlacementStartControl").hide();
            $("#ArchiveReasonTitle").show();
            $("#ArchiveReasonControl").show();
        }

        if ((('#PlacementStatus').value != '1')  && (('#PlacementStatus').value != '2'))
        {
            $("#PlacementStartTitle").hide();
            $("#PlacementStartControl").hide();
            $("#ArchiveReasonTitle").hide();
            $("#ArchiveReasonControl").hide();
        }

    };





    $(document).ready(function () {

        $('#PlacementStatus').on('change', function () {

            if (this.value == '1') {
                $("#PlacementStartTitle").show();
                $("#PlacementStartControl").show();
                $("#ArchiveReasonTitle").hide();
                $("#ArchiveReasonControl").hide();
            }

            if (this.value == '2') {
                $("#PlacementStartTitle").hide();
                $("#PlacementStartControl").hide();
                $("#ArchiveReasonTitle").show();
                $("#ArchiveReasonControl").show();
            }

            if ((this.value != '1') && ((this.value != '2'))) {
                $("#PlacementStartTitle").hide();
                $("#PlacementStartControl").hide();
                $("#ArchiveReasonTitle").hide();
                $("#ArchiveReasonControl").hide();
            }
        })
    }
    );



</script>